:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --primario: #000000;
    --secundario: #F2AA1F;
    --complementario: #F1ECE7;
    --negro: #000000;
    --blanco: #FFFFFF;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
}

img {
    display: block;
    width: 100%;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--negro);
}

/* UTILIDADES */
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

/* BARRA */
.barra {
    display: flex;
    justify-content: flex-end;
}

.barra__contenido {
    background-color: var(--negro);
    width: 80%;
    max-width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    padding-right: 1rem;
    margin-bottom: 2rem;
}

.barra__contenido::before {
    content: '';
    width: 8rem;
    height: 8rem;
    background-color: var(--blanco);
    transform: rotate(31deg);
    position: absolute;
    top: -36px;
    left: -40px;
}

.barra__texto {
    color: var(--blanco);
    font-size: 1.2rem;
}

@media (min-width: 760px) {
    .barra__texto {
        font-size: 1.5rem;
    }
}

/* HEADER  */
.header {
    background-color: var(--blanco);
    margin-bottom: 2rem;
}

@media (min-width: 1000px) {
    .header {
        max-width: 120rem;
        margin: 0 auto;
    }
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

@media (min-width: 760px) {
    .header__contenido {
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

    .header__logo {
        margin-bottom: 0;
    }

    .header__logo {
        gap: 2rem;
    }
}

.header__grafico {
    width: 8rem;
    height: 8rem;
}

.header__titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}


/* NAVEGACION */
.navegacion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 760px) {
    .navegacion {
        justify-content: flex-end;
    }
}

.navegacion__link {
    padding: 1rem;
    font-size: 1.4rem;
}

@media (min-width: 760px) {
    .navegacion__link {
        font-size: 2rem;
    }
}

.navegacion__link:hover {
    background-color: var(--primario);
    color: var(--blanco);
    border-radius: 1rem;
}

/* BIENVENIDA */
.bienvenida {
    background-image: url(../img/img1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    position: relative;
    margin-bottom: 4rem;
}

@media (min-width: 1000px) {
    .bienvenida {
        max-width: 116rem;
        margin: 0 auto;
        background-size: cover;
    }
}

.bienvenida::before {
    content: '';
    background-color: rgba(29, 27, 27, 0.603);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bienvenida__contenido {
    width: 30rem;
    padding: 2rem;
    position: relative;
}

.bienvenida__texto {
    color: var(--blanco);
    font-size: 5rem;
    margin-bottom: 2rem;
}

/* DESCRIPCION */
.descripcion {
    margin-bottom: 3rem;
    text-align: justify;
}

.descripcion__titulo {
    margin-top: 20px;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

@media (min-width: 760px) {
    .descripcion__titulo {
        font-size: 2.6rem;
    }
}

.descripcion__contenido {
    padding: 2rem;
}

@media (min-width: 760px) {
    .descripcion__contenido {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .descripcion__texto--order1 {
        order: -1;
    }

    .descripcion__texto {
        font-size: 1.8rem;
        line-height: 1.6;
    }
}

.descripcion__imagen {
    margin-bottom: 2rem;
}


@media (min-width: 760px) {
    .descripcion__imagen {
        max-width: 40rem;
    }
}

.descripcion__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    line-height: 1.6;
}

/* COTIZACION */
.cotizacion {
    margin-bottom: 3rem;
}

.cotizacion__titulo {
    text-align: center;
}

.cotizacion__contenido {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    max-width: 70rem;
}

@media (min-width: 760px) {
    .cotizacion__contenido {
        margin: 0 auto;
    }
}

.cotizacion__input {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.cotizacion__label {
    flex-basis: 8rem;
}

.cotizacion_campo {
    padding: .5rem;
    width: 95%;
}

.cotizacion__mensaje {
    width: 100%;
    height: 20rem;
}

.cotizacion__boton {
    border: none;
    background-color: #000000;
    color: var(--blanco);
    padding: 1rem 0;
    border-radius: .5rem;
    text-transform: uppercase;
    font-weight: 900;
}

@media (min-width: 760px) {
    .cotizacion__boton {
        max-width: 30rem;
    }
}

/* FOOTER */
.footer {
    background-color: #090909;
    color: var(--blanco);
    padding: 2rem 0;
    text-align: center;
}

/* NOSOTROS */
.nosotros {
    padding: 2rem;
}

.nosotros__objetivos {
    margin-top: 3rem;
    text-align: justify;
}

@media (min-width: 760px) {
    .nosotros__contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/* IMAGENES */
.imagenes {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 760px) {
    .imagenes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* CALIDAD */
.calidad {
    padding: 2rem;
}

.calidad h3 {
    text-align: center;
}

@media (min-width: 760px) {
    .calidad__contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

.calidad__texto {
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: justify;
}

/* SERVICIOS */
.servicios {
    padding: 2rem;
    margin-bottom: 3rem;
}

.servicios__titulo {
    margin-bottom: 0;
    align-items: justify;
}

.servicios__boton {
    padding: 1rem 2rem;
    background-color: var(--primario);
    color: var(--blanco);
}

.servicios__boton:hover {
    background-color: #0c3647;
}

.servicios__parrafo {
    padding: 2rem 0;
}

.servicios__banner {
    background-image: url(../img/img6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.servicios__contenido {
    padding: 2rem;
}

@media (min-width: 760px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* PROYECTOS */
.proyectos {
    padding: 2rem;
}

@media (min-width: 760px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}

.proyectos__card {
    margin-bottom: 3rem;
    border-bottom: 1px solid #e1e1e1;
}

.proyectos__descripcion {
    text-align: center;
}

@media (min-width: 860px) {
    .proyectos__img {
        max-height: 22rem;
    }
}

/* TIENDA */
.tienda {
    margin-bottom: 4rem;
}

.tienda__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 760px) {
    .tienda__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.tienda__card {
    position: relative;
    border-radius: 10px;
    background-color: #f4f4f4;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Se elimina height fijo para que el tamaño del contenedor dependa de la imagen */
    max-width: 100%;
}

.tienda__card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Efecto de zoom en la tarjeta */
}

.tienda__card img {
    width: 100%;
    height: auto; /* Ajusta la altura para que sea proporcional a la imagen */
    object-fit: contain; /* Esto asegura que la imagen no se recorte y se ajuste proporcionalmente */
    transition: transform 0.5s ease-in-out;
    border-radius: 10px 10px 0 0;
}

.tienda__card figure {
    margin: 0;
    overflow: hidden;
}

.tienda__card:hover img {
    transform: scale(1.1); /* Efecto de zoom en la imagen al pasar el ratón */
}

.info-product {
    padding: 20px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    flex-grow: 1; /* Asegura que la parte inferior se expanda hacia abajo */
}

.info-product h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
}

.price {
    font-size: 1rem;
    font-weight: 700;
    color: #000000; /* Verde para resaltar el precio */
    background-color: #dedede;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}


/* DESCRIPCION */

.direccion {
    padding: 2rem;
    text-align: center;
}

.direccion p {
    margin: 1.8rem;
}
